POSTGRES_PASSWORD=
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@localhost:5432/second_brain
DATABASE_ADMIN_URL=postgres://postgres:${POSTGRES_PASSWORD}@localhost:5432/postgres
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=${DATABASE_URL}
OPENROUTER_API_KEY=
